*{
    margin: 0;
    padding: 0; 
}

body{
    background-color: rgba(0, 0, 0, 0.5);
}

header{
    width: 100%;
    background-color: #F9E8CC;
}

#liLogo{
    padding-right: 160vh;
    padding-left: 120px;
}

#logo{
    padding-top: 18.5px;
    width: 110px;
    height: 120px;
}

header li{
    display: inline-block;
}

header li a{
    display: inline-block;
    padding-top: 15px;
    color: white;
}

#tresPontos{
    width: 50px;
    height: 50px;
    padding-bottom: 42px;
}


.dropdown-menu{
    position: absolute;
    display: none;
    top: 12%;
}

.dropdown-menu a{
    width: 44px;
    text-decoration: none;
    background-color: white;
    color: rgb(221, 67, 29);
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding-right: 40px;
    padding-left: 10px;
    border: 1px solid black;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.img{
    height: 120vh;
    background-image: url(grupo.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}

#welcome{
    font-family: "Anton", sans-serif;
    font-size: 150px;
    color: white;
    padding-left: 33%;
    padding-top: 21%;
}
